.form-wrapper {
    width: 90%;
    background: #f5f5ff;
    padding: 60px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}
.form-input-wrapper h3, .form-input-wrapper h4{
    text-transform: uppercase;
}
.form-input-wrapper h4 {
    color: #636367;
}
.submit-btn-div {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}
.api-error-message {
    background-color: #F00D34;
    padding: 10px;
    border-radius: 6px;
}
.api-error-message > p {
    color: #ffffff;
}
.error_help_container {
    background: #f00e34;
    color: #fff;
    font-size: 21px;
    border-radius: 5px;
    padding: 8px;
}
.error_help_txt {
    display: inline-block;
    vertical-align: middle;
}
.error_icons {
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
}
.error_txt1{
    display: block;
}
span.error_txt2 {
    color: #ffc275;
}
.drop_file_wrapper{
    text-align: center;
    margin: auto;
}
.form-wrapper .configuration-box {
    width: 33%;
    float: left;
    margin: auto;
    display: inline-block;
}
.error-input-field{
    border: 1px solid #921a26;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
.average-section {
    float: right;
    margin-right: 20px;
}
